<section class="prod">
    <div class="prod__title">Продукция</div>
    <div class="prod__category-list">
        <div class="prod__category-item prod__category-item--closed prod__category-item--default">
            <div class="prod__category-item-title">Рукавные фильтры</div>
            <div class="prod__list">
                <div class="prod__item prod__item--opened">
                    <div class="prod__item-title">Первый рукавный фильтр</div>
                    <div class="prod__item-body">
                        <p class="text-indent"> 1Значимость этих проблем настолько очевидна, что реализация намеченных
                            плановых заданий
                            влечет за собой процесс внедрения и модернизации модели развития. Равным о проверки
                            направлений прогрессивного развития. модернизации модели развития.
                        </p>
                        <img src="/img/products/product_img_500x334.jpg" alt="product image 1" class="prod__item-image">
                        <p class="text-indent"> Значимость этих проблем настолько очевидна, что реализация намеченных
                            плановых заданий
                            влечет за собой процесс внедрения и модернизации модели развития. Равным о проверки
                            направлений прогрессивного развития. модернизации модели развития.
                        </p>
                        <br>
                        <p class="text-indent"> Значимость этих проблем настолько очевидна, что реализация намеченных
                            плановых заданий
                            влечет за собой процесс внедрения и модернизации модели развития. Равным о проверки
                            направлений прогрессивного развития. модернизации модели развития.
                        </p>
                        <br>
                        <p class="text-indent"> Значимость этих проблем настолько очевидна, что реализация намеченных
                            плановых заданий
                            влечет за собой процесс внедрения и модернизации модели развития. Равным о проверки
                            направлений прогрессивного развития. модернизации модели развития.
                        </p>
                    </div>
                </div>
                <div class="prod__item">
                    <div class="prod__item-title">Импульсный рукавный фильтр</div>
                    <div class="prod__item-body">
                        <p class="text-indent"> 2Значимость этих проблем настолько очевидна, что реализация про про по
                            про про намеченных
                            плановых заданий
                            влечет за собой процесс внедрения и модернизации про про про роп про про про про про про про про модели развития. Равным о проверки
                            направлений прогрессивного развития. модернизации модели развития.
                        </p>
                        <img src="/img/products/product_img_500x334.jpg" alt="product image 1" class="prod__item-image">
                        <p class="text-indent"> Значимость этих проблем настолько очевидна, что реализация намеченных
                            плановых заданий
                            влечет за собой процесс внедрения и модернизации модели развития. Равным о проверки
                            направлений прогрессивного развития. модернизации модели развития.
                        </p>
                        <br>
                        <p class="text-indent"> Значимость этих проблем настолько очевидна, что реализация намеченных
                            плановых заданий
                            влечет за собой процесс внедрения и модернизации модели развития. Равным о проверки
                            направлений прогрессивного развития. модернизации модели развития.
                        </p>
                        <br>
                        <p class="text-indent"> Значимость этих проблем настолько очевидна, что реализация намеченных
                            плановых заданий
                            влечет за собой процесс внедрения и модернизации модели развития. Равным о проверки
                            направлений прогрессивного развития. модернизации модели развития.
                        </p>
                    </div>
                </div>
                <div class="prod__item">
                    <div class="prod__item-title">Импульсный рукавный фильтр</div>
                    <div class="prod__item-body">
                        <p class="text-indent"> 3Значимость этих проблем настолько очевидна, что реализация намеченных
                            плановых заданий
                            влечет за собой процесс внедрения и модернизации модели развития. Равным о проверки
                            направлений прогрессивного развития. модернизации модели развития.
                        </p>
                        <img src="/img/products/product_img_500x334.jpg" alt="product image 1" class="prod__item-image">
                        <p class="text-indent"> Значимость этих проблем настолько очевидна, что реализация намеченных
                            плановых заданий
                            влечет за собой процесс внедрения и модернизации модели развития. Равным о проверки
                            направлений прогрессивного развития. модернизации модели развития.
                        </p>
                        <br>
                        <p class="text-indent"> Значимость этих проблем настолько очевидна, что реализация намеченных
                            плановых заданий
                            влечет за собой процесс внедрения и модернизации модели развития. Равным о проверки
                            направлений прогрессивного развития. модернизации модели развития.
                        </p>
                        <br>
                        <p class="text-indent"> Значимость этих проблем настолько очевидна, что реализация намеченных
                            плановых заданий
                            влечет за собой процесс внедрения и модернизации модели развития. Равным о проверки
                            направлений прогрессивного развития. модернизации модели развития.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="prod__category-item prod__category-item--closed">
            <div class="prod__category-item-title">Рукавные фильтры</div>
            <div class="prod__list">
                <div class="prod__item">
                    <div class="prod__item-title">Импульсный рукавный фильтр</div>
                    <div class="prod__item-body">
                        <p class="text-indent"> 4Значимость этих проблем настолько очевидна, что реализация намеченных
                            плановых заданий
                            влечет за собой процесс внедрения и модернизации модели развития. Равным о проверки
                            направлений прогрессивного развития. модернизации модели развития.
                        </p>
                        <img src="/img/products/product_img_500x334.jpg" alt="product image 1" class="prod__item-image">
                        <p class="text-indent"> Значимость этих проблем настолько очевидна, что реализация намеченных
                            плановых заданий
                            влечет за собой процесс внедрения и модернизации модели развития. Равным о проверки
                            направлений прогрессивного развития. модернизации модели развития.
                        </p>
                        <br>
                        <p class="text-indent"> Значимость этих проблем настолько очевидна, что реализация намеченных
                            плановых заданий
                            влечет за собой процесс внедрения и модернизации модели развития. Равным о проверки
                            направлений прогрессивного развития. модернизации модели развития.
                        </p>
                        <br>
                        <p class="text-indent"> Значимость этих проблем настолько очевидна, что реализация намеченных
                            плановых заданий
                            влечет за собой процесс внедрения и модернизации модели развития. Равным о проверки
                            направлений прогрессивного развития. модернизации модели развития.
                        </p>
                    </div>
                </div>
                <div class="prod__item">
                    <div class="prod__item-title">Импульсный рукавный фильтр</div>
                    <div class="prod__item-body">
                        <p class="text-indent"> 5Значимость этих проблем настолько очевидна, что реализация намеченных
                            плановых заданий
                            влечет за собой процесс внедрения и модернизации модели развития. Равным о проверки
                            направлений прогрессивного развития. модернизации модели развития.
                        </p>
                        <img src="/img/products/product_img_500x334.jpg" alt="product image 1" class="prod__item-image">
                        <p class="text-indent"> Значимость этих проблем настолько очевидна, что реализация намеченных
                            плановых заданий
                            влечет за собой процесс внедрения и модернизации модели развития. Равным о проверки
                            направлений прогрессивного развития. модернизации модели развития.
                        </p>
                        <br>
                        <p class="text-indent"> Значимость этих проблем настолько очевидна, что реализация намеченных
                            плановых заданий
                            влечет за собой процесс внедрения и модернизации модели развития. Равным о проверки
                            направлений прогрессивного развития. модернизации модели развития.
                        </p>
                        <br>
                        <p class="text-indent"> Значимость этих проблем настолько очевидна, что реализация намеченных
                            плановых заданий
                            влечет за собой процесс внедрения и модернизации модели развития. Равным о проверки
                            направлений прогрессивного развития. модернизации модели развития.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="prod__category-item prod__category-item--closed">
            <div class="prod__category-item-title">Рукавные фильтры</div>
            <div class="prod__list">
                <div class="prod__item">
                    <div class="prod__item-title">Импульсный рукавный фильтр</div>
                    <div class="prod__item-body">
                        <p class="text-indent"> 6Значимость этих проблем настолько очевидна, что реализация намеченных
                            плановых заданий
                            влечет за собой процесс внедрения и модернизации модели развития. Равным о проверки
                            направлений прогрессивного развития. модернизации модели развития.
                        </p>
                        <img src="/img/products/product_img_500x334.jpg" alt="product image 1" class="prod__item-image">
                        <p class="text-indent"> Значимость этих проблем настолько очевидна, что реализация намеченных
                            плановых заданий
                            влечет за собой процесс внедрения и модернизации модели развития. Равным о проверки
                            направлений прогрессивного развития. модернизации модели развития.
                        </p>
                        <br>
                        <p class="text-indent"> Значимость этих проблем настолько очевидна, что реализация намеченных
                            плановых заданий
                            влечет за собой процесс внедрения и модернизации модели развития. Равным о проверки
                            направлений прогрессивного развития. модернизации модели развития.
                        </p>
                        <br>
                        <p class="text-indent"> Значимость этих проблем настолько очевидна, что реализация намеченных
                            плановых заданий
                            влечет за собой процесс внедрения и модернизации модели развития. Равным о проверки
                            направлений прогрессивного развития. модернизации модели развития.
                        </p>
                    </div>
                </div>
                <div class="prod__item">
                    <div class="prod__item-title">Импульсный рукавный фильтр</div>
                    <div class="prod__item-body">
                        <p class="text-indent"> 7Значимость этих проблем настолько очевидна, что реализация намеченных
                            плановых заданий
                            влечет за собой процесс внедрения и модернизации модели развития. Равным о проверки
                            направлений прогрессивного развития. модернизации модели развития.
                        </p>
                        <img src="/img/products/product_img_500x334.jpg" alt="product image 1" class="prod__item-image">
                        <p class="text-indent"> Значимость этих проблем настолько очевидна, что реализация намеченных
                            плановых заданий
                            влечет за собой процесс внедрения и модернизации модели развития. Равным о проверки
                            направлений прогрессивного развития. модернизации модели развития.
                        </p>
                        <br>
                        <p class="text-indent"> Значимость этих проблем настолько очевидна, что реализация намеченных
                            плановых заданий
                            влечет за собой процесс внедрения и модернизации модели развития. Равным о проверки
                            направлений прогрессивного развития. модернизации модели развития.
                        </p>
                        <br>
                        <p class="text-indent"> Значимость этих проблем настолько очевидна, что реализация намеченных
                            плановых заданий
                            влечет за собой процесс внедрения и модернизации модели развития. Равным о проверки
                            направлений прогрессивного развития. модернизации модели развития.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="prod__category-item prod__category-item--closed">
            <div class="prod__category-item-title">Рукавные фильтры</div>
            <div class="prod__list">
                <div class="prod__item">
                    <div class="prod__item-title">Импульсный рукавный фильтр</div>
                    <div class="prod__item-body">
                        <p class="text-indent"> Значимость этих проблем настолько очевидна, что реализация намеченных
                            плановых заданий
                            влечет за собой процесс внедрения и модернизации модели развития. Равным о проверки
                            направлений прогрессивного развития. модернизации модели развития.
                        </p>
                        <img src="/img/products/product_img_500x334.jpg" alt="product image 1" class="prod__item-image">
                        <p class="text-indent"> Значимость этих проблем настолько очевидна, что реализация намеченных
                            плановых заданий
                            влечет за собой процесс внедрения и модернизации модели развития. Равным о проверки
                            направлений прогрессивного развития. модернизации модели развития.
                        </p>
                        <br>
                        <p class="text-indent"> Значимость этих проблем настолько очевидна, что реализация намеченных
                            плановых заданий
                            влечет за собой процесс внедрения и модернизации модели развития. Равным о проверки
                            направлений прогрессивного развития. модернизации модели развития.
                        </p>
                        <br>
                        <p class="text-indent"> Значимость этих проблем настолько очевидна, что реализация намеченных
                            плановых заданий
                            влечет за собой процесс внедрения и модернизации модели развития. Равным о проверки
                            направлений прогрессивного развития. модернизации модели развития.
                        </p>
                    </div>
                </div>
                <div class="prod__item">
                    <div class="prod__item-title">Импульсный рукавный фильтр</div>
                    <div class="prod__item-body">
                        <p class="text-indent"> Значимость этих проблем настолько очевидна, что реализация намеченных
                            плановых заданий
                            влечет за собой процесс внедрения и модернизации модели развития. Равным о проверки
                            направлений прогрессивного развития. модернизации модели развития.
                        </p>
                        <img src="/img/products/product_img_500x334.jpg" alt="product image 1" class="prod__item-image">
                        <p class="text-indent"> Значимость этих проблем настолько очевидна, что реализация намеченных
                            плановых заданий
                            влечет за собой процесс внедрения и модернизации модели развития. Равным о проверки
                            направлений прогрессивного развития. модернизации модели развития.
                        </p>
                        <br>
                        <p class="text-indent"> Значимость этих проблем настолько очевидна, что реализация намеченных
                            плановых заданий
                            влечет за собой процесс внедрения и модернизации модели развития. Равным о проверки
                            направлений прогрессивного развития. модернизации модели развития.
                        </p>
                        <br>
                        <p class="text-indent"> Значимость этих проблем настолько очевидна, что реализация намеченных
                            плановых заданий
                            влечет за собой процесс внедрения и модернизации модели развития. Равным о проверки
                            направлений прогрессивного развития. модернизации модели развития.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="prod__category-item prod__category-item--closed">
            <div class="prod__category-item-title">Рукавные фильтры</div>
            <div class="prod__list">
                <div class="prod__item">
                    <div class="prod__item-title">Импульсный рукавный фильтр</div>
                    <div class="prod__item-body">
                        <p class="text-indent"> Значимость этих проблем настолько очевидна, что реализация намеченных
                            плановых заданий
                            влечет за собой процесс внедрения и модернизации модели развития. Равным о проверки
                            направлений прогрессивного развития. модернизации модели развития.
                        </p>
                        <img src="/img/products/product_img_500x334.jpg" alt="product image 1" class="prod__item-image">
                        <p class="text-indent"> Значимость этих проблем настолько очевидна, что реализация намеченных
                            плановых заданий
                            влечет за собой процесс внедрения и модернизации модели развития. Равным о проверки
                            направлений прогрессивного развития. модернизации модели развития.
                        </p>
                        <br>
                        <p class="text-indent"> Значимость этих проблем настолько очевидна, что реализация намеченных
                            плановых заданий
                            влечет за собой процесс внедрения и модернизации модели развития. Равным о проверки
                            направлений прогрессивного развития. модернизации модели развития.
                        </p>
                        <br>
                        <p class="text-indent"> Значимость этих проблем настолько очевидна, что реализация намеченных
                            плановых заданий
                            влечет за собой процесс внедрения и модернизации модели развития. Равным о проверки
                            направлений прогрессивного развития. модернизации модели развития.
                        </p>
                    </div>
                </div>
                <div class="prod__item">
                    <div class="prod__item-title">Импульсный рукавный фильтр</div>
                    <div class="prod__item-body">
                        <p class="text-indent"> Значимость этих проблем настолько очевидна, что реализация намеченных
                            плановых заданий
                            влечет за собой процесс внедрения и модернизации модели развития. Равным о проверки
                            направлений прогрессивного развития. модернизации модели развития.
                        </p>
                        <img src="/img/products/product_img_500x334.jpg" alt="product image 1" class="prod__item-image">
                        <p class="text-indent"> Значимость этих проблем настолько очевидна, что реализация намеченных
                            плановых заданий
                            влечет за собой процесс внедрения и модернизации модели развития. Равным о проверки
                            направлений прогрессивного развития. модернизации модели развития.
                        </p>
                        <br>
                        <p class="text-indent"> Значимость этих проблем настолько очевидна, что реализация намеченных
                            плановых заданий
                            влечет за собой процесс внедрения и модернизации модели развития. Равным о проверки
                            направлений прогрессивного развития. модернизации модели развития.
                        </p>
                        <br>
                        <p class="text-indent"> Значимость этих проблем настолько очевидна, что реализация намеченных
                            плановых заданий
                            влечет за собой процесс внедрения и модернизации модели развития. Равным о проверки
                            направлений прогрессивного развития. модернизации модели развития.
                        </p>
                    </div>
                </div>
                <div class="prod__item">
                    <div class="prod__item-title">Импульсный рукавный фильтр</div>
                    <div class="prod__item-body">
                        <p class="text-indent"> Значимость этих проблем настолько очевидна, что реализация намеченных
                            плановых заданий
                            влечет за собой процесс внедрения и модернизации модели развития. Равным о проверки
                            направлений прогрессивного развития. модернизации модели развития.
                        </p>
                        <img src="/img/products/product_img_500x334.jpg" alt="product image 1" class="prod__item-image">
                        <p class="text-indent"> Значимость этих проблем настолько очевидна, что реализация намеченных
                            плановых заданий
                            влечет за собой процесс внедрения и модернизации модели развития. Равным о проверки
                            направлений прогрессивного развития. модернизации модели развития.
                        </p>
                        <br>
                        <p class="text-indent"> Значимость этих проблем настолько очевидна, что реализация намеченных
                            плановых заданий
                            влечет за собой процесс внедрения и модернизации модели развития. Равным о проверки
                            направлений прогрессивного развития. модернизации модели развития.
                        </p>
                        <br>
                        <p class="text-indent"> Значимость этих проблем настолько очевидна, что реализация намеченных
                            плановых заданий
                            влечет за собой процесс внедрения и модернизации модели развития. Равным о проверки
                            направлений прогрессивного развития. модернизации модели развития.
                        </p>
                    </div>
                </div>
                <div class="prod__item">
                    <div class="prod__item-title">Импульсный рукавный фильтр</div>
                    <div class="prod__item-body">
                        <p class="text-indent"> Значимость этих проблем настолько очевидна, что реализация намеченных
                            плановых заданий
                            влечет за собой процесс внедрения и модернизации модели развития. Равным о проверки
                            направлений прогрессивного развития. модернизации модели развития.
                        </p>
                        <img src="/img/products/product_img_500x334.jpg" alt="product image 1" class="prod__item-image">
                        <p class="text-indent"> Значимость этих проблем настолько очевидна, что реализация намеченных
                            плановых заданий
                            влечет за собой процесс внедрения и модернизации модели развития. Равным о проверки
                            направлений прогрессивного развития. модернизации модели развития.
                        </p>
                        <br>
                        <p class="text-indent"> Значимость этих проблем настолько очевидна, что реализация намеченных
                            плановых заданий
                            влечет за собой процесс внедрения и модернизации модели развития. Равным о проверки
                            направлений прогрессивного развития. модернизации модели развития.
                        </p>
                        <br>
                        <p class="text-indent"> Значимость этих проблем настолько очевидна, что реализация намеченных
                            плановых заданий
                            влечет за собой процесс внедрения и модернизации модели развития. Равным о проверки
                            направлений прогрессивного развития. модернизации модели развития.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="prod__category-back prod__category-back--hide"><p class="text-indent">Назад к категориям</p></div>
    </div>
</section>