@import "../../bin/variables";

.about {
  padding: 60px 30px 40px 30px;
}

.about__title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 40px;
}

.about__description {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 45px;
}

.about__items {
  display: flex;
  flex-wrap: wrap;
}

.about__item {
  width: 50%;
  text-align: center;
  margin-bottom: 30px;
}

.about__item-img {
  margin-bottom: 10px;
}

.about__item-description {
  font-size: 12px;
  line-height: 16px;
  color: $color-orange;
  max-width: 120px;
  margin: 0 auto;
}

@media #{$tablet-width} {
  .about {
    padding-top: 65px;
    max-width: 940px;
    margin: 0 auto;
  }

  .about__title {
    margin-bottom: 45px;
  }

  .about__description {
    margin-bottom: 55px;
  }

  .about__items {
    max-width: 585px;
    margin: 0 auto 60px;
  }

  .about__item {
    width: auto;
    margin-right: 35px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }
}