@import "../../bin/variables";

.header__title-wrapper {
  // TODO : Fix background on >768px
  // TODO : Decrease size of picture for mobile devices!!!
  background: url("/img/main/about/main_back_768x1618.jpg") no-repeat;
  background-size: cover;
  padding-top: 35px;
  padding-bottom: 60px;
}

.header__title {
  // TODO: Change font to em
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  color: $dark-blue-color;
  margin-left: 30px;
}

.header__schema {
  display: block;
  margin: 230px auto 0;
}

@media #{$tablet-width} {
  .header__title {
    margin-left: 0;
  }
  .header__description {
    margin-top: 18px;
  }

  .header__title-wrapper {
    background: url("/img/main/about/main_back_1920x544.jpg") no-repeat center center;
    min-height: 540px;
    background-size: cover;
    padding-top: 60px;
  }

  .header__title-wrapper-container {
    max-width: 740px;
    margin: 0 auto;
  }

  .header__schema {
    margin-top: 105px;
  }
}

@media #{$desktop-width} {
  .header__title-wrapper-container {
    max-width: 945px;
  }
}