@import "../../bin/variables";

.top__title-wrapper {
  background: url("/img/main/about/mobile_main_back.png") no-repeat;
  background-size: cover;
  padding-top: 35px;
  padding-bottom: 60px;
}

.top__title {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  color: $dark-blue-color;
  margin-left: 30px;
}

.top__schema{
  display: block;
  margin: 230px auto 0 auto;
}