<section class="anketa">
    <div class="anketa__top">
        <img class="anketa__img" src="/img/anketa/mobile_anketa_back.jpg" alt="fill_anketa">
    </div>
    <div class="anketa_content">
        <h1 class="anketa__title">
            Опросные анкеты
        </h1>
        <p class="anketa__description">
            Для ведения конструктивного диалога, ведущему к поиску правильного истинного решения вашей проблемы
            предлагаем вам заполнить нижеприведенные анкеты по фильтрации и (или) пневмотранспорту.
        </p>
        <button type="button" class="anketa__button">
            <i class="fas fa-download anketa__button-download"></i>
            Анкета по фильтрам
            <br/>
            (doc)
        </button>
        <button type="button" class="anketa__button">
            <i class="fas fa-download anketa__button-download"></i>
            Анкета по пневмотранспорту
            <br/>
            (doc)
        </button>
        <p class="anketa__description">
            Обратите внимание, что интересующие нас некоторые параметры вашего производства, воздуха или газа,
            требующего очистки, или же смеси, требующей транспортировки, непосредственным образом влияют на выбор
            технологии, определения методик, а также минимизации стоимости необходимого для вас оборудования.
        </p>
        <p class="anketa__description anketa__description-list-title">Анкеты состоят из четырех столбцов:</p>
        <ol class="anketa__description anketa__description-list">
            <li>Параметры, участвующие в определении системы фильтрации и (или) пневмотранспорта;</li>
            <li>То же, что и в первом столбце на турецком языке;</li>
            <li>Параметры, необходимые нам от Вас для расчетов и подготовки Коммерческого предложения;</li>
            <li>Необходимые параметры для функционирования предлагаемой Вам системы, определяемые нашим инженерным
                персоналом.
            </li>
        </ol>
        <p class="anketa__description">
            Анкеты допустимо заполнять в произвольной форме. Любые возникающие вопросы, связанные как с пунктами анкеты
            так и касающиеся моментов, не упомянутых здесь, конечно же, можно решить как в эктронно-почтовом режиме, так
            и по телефону.
        </p>

    </div>

</section>