<header class="page-header">
    <!-- Navigation -->
    <nav class="main-nav main-nav--closed   ">
        <!-- logo -->
        <div class="logo">
            <a class="logo__link" href="#">Промтех</a>
        </div>

        <button class="main-nav__toggle-menu"><i class="fas fa-bars"></i></button>

        <div class="main-nav__wrapper">
            <ul class="main-nav__items">
                <li class="main-nav__item"><a href="#">Главная</a></li>
                <li class="main-nav__item"><a href="#">Продукция</a></li>
                <li class="main-nav__item"><a href="#">Клиенты</a></li>
                <li class="main-nav__item"><a href="#">Анкеты</a></li>
                <li class="main-nav__item"><a href="#">Контакты</a></li>
            </ul>
        </div>
    </nav>

    <div class="page-header__title-wrapper">
        <h1 class="page-header__title">Экологическое<br>промышленное<br>оборудование</h1>
        <img class="page-header__schema" width="293" height="288" src="/img/main_schema.png" alt="work_schema">
    </div>
</header>