<!-- Navigation -->

<nav class="main-nav main-nav--closed">
    <div class="main-nav__wrapper">
        <!-- logo -->
        <div class="logo">
            <a class="logo__link" href="/">Промтех</a>
        </div>

        <button class="main-nav__toggle-menu"><i class="fas fa-bars"></i></button>

        <ul id="main-nav__items" class="main-nav__items">
            <li class="main-nav__item"><a href="/products.html">Продукция</a></li>
            <li class="main-nav__item"><a href="/index.html#clients">Клиенты</a></li>
            <li class="main-nav__item"><a href="/anketa.html">Анкеты</a></li>
            <li class="main-nav__item"><a href="/index.html#contacts">Контакты</a></li>
        </ul>
    </div>
</nav>
