body {
  position: relative;
  font-family: 'Open Sans', sans-serif;
}

.hidden-on-mobile {
  display: none !important;
}

.visible-on-mobile {
  display: inline;
}

@media #{$tablet-width} {


  .visible-on-mobile {
    display: none !important;
  }
}

@media #{$desktop-width} {
  .hidden-on-desktop {
    display: none !important;
  }

  .visible-on-desktop {
    display: block !important;
  }
}