body {
  position: relative;
  font-family: 'Open Sans', sans-serif;
}

.hidden-on-mobile {
  display: none;
}

.visible-on-mobile {
  display: inline;
}

@media #{$tablet-width} {
  .hidden-on-mobile {
    display: block;
  }

  .visible-on-mobile {
    display: none;
  }
}