@import "../bin/variables";

.bottom__content {
  background-color: $dark-blue-color;
  min-height: 80px;
  padding: 25px 0;
  text-align: center;
}

.bottom__content-text {
  font-size: 12px;
  line-height: 18px;
  color: $color-white;
}