@import "../bin/variables";

.logo__link {
  display: block;
  font-weight: bold;
  color: $color-white;
  font-size: 18px;
  text-decoration: none;

  &:focus {
    outline: none;
    color: $color-white;
    text-decoration: none;
  }
}

.main-nav {
  position: relative;
  background-color: $dark-blue-color;
  min-height: 55px;
  padding: 15px 30px;
}

.main-nav__wrapper {
  display: flex;
  justify-content: space-between;
}

// Mobile buttons
.main-nav__toggle-menu {
  border: 0;
  background-color: transparent;
  display: block;
  color: $color-white;
  font-size: 25px;
  padding: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.main-nav__items {
  display: none;
  position: absolute;
  top: 58px;
  left: 0;
  width: 100%;
  padding: 0 70px 30px;
  background-color: $light-blue-color;
  color: $color-grey;
}

.main-nav__item:first-child a {
  padding-top: 25px;
}

.main-nav__item:last-child a {
  border-width: 3px;
}

.main-nav__item a {
  display: block;
  padding: 15px 0;
  color: $color-grey;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  border-bottom: 1px solid $color-grey;

  &:focus {
    outline: none;
    color: $color-white;
  }
}

@media #{$tablet-width} {
  .main-nav__wrapper {
    max-width: 960px;
    margin: 0 auto;
  }

  .main-nav__toggle-menu {
    display: none;
  }

  .main-nav__items {
    position: static;
    padding: 0;
    display: block;
    background-color: transparent;
    width: auto;
  }

  .main-nav__item {
    display: inline-block;
    margin-left: 40px;
  }

  .main-nav__item  a{
    border: 0;
    padding: 0 !important;
    font-size: 14px;
  }
}

@media #{$desktop-width} {
  .main-nav__item {
    margin-left: 95px;
  }
}