@import "../bin/variables";

.main-nav {
  background-color: $color-dark-blue;
  padding: 11px 30px 11px;
  position: relative;
  z-index: 1;
}

.main-nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  color: $color-white;
  font-size: 18px;
  text-decoration: none;

  a:hover, a:focus, a:active {
    background: none;
    outline: none;
  }

  a {
    font-weight: bold;
    color: $color-white;
    font-size: 18px;
    text-decoration: none;
  }
}

// Mobile buttons
.main-nav__toggle-menu {
  border: 0;
  background-color: transparent;
  color: $color-white;
  font-size: 25px;
  padding: 0;
}

.main-nav__items {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  padding-bottom: 30px;
  background-color: $color-light-grey;
}

.main-nav__item:first-child a {
  padding-top: 20px;
}

.main-nav__item a {
  display: block;
  padding: 15px 0;
  max-width: 200px;
  margin: auto;
  color: $color-super-dark-grey;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  border-bottom: 1px solid $color-super-dark-grey;

  &:hover, &:focus, &:active {
    outline: none;
    color: $color-dark-blue;
  }
}

@media #{$tablet-width} {
  .main-nav {
    padding: 17px 30px 15px;
  }

  .main-nav__wrapper {
    max-width: 945px;
    margin: 0 auto;
  }

  .main-nav__toggle-menu {
    display: none;
  }

  .main-nav__items {
    position: static;
    padding: 0;
    // to override jquery style
    display: block !important;
    background-color: transparent;
    width: auto;
  }

  .main-nav__item {
    display: inline-block;
    margin-left: 40px;

    a {
      border: 0;
      padding: 0 !important;
      color: $color-grey;

      &:focus, &:hover, &:active {
        outline: none;
        color: $color-white;
      }
    }
  }
}

@media #{$desktop-width} {
  .main-nav__item {
    margin-left: 95px;
  }
}