<section class="about">
    <h1 class="about__title">
        О нас
    </h1>

    <div class="about__description-wrapper">
        <p class="about__description text-indent">
            Наше предприятие основано в 2001г.
            Основная деятельность предприятия распространяется на решение экологических проблем
            промышленных предприятий – мы выполняем обследование, ремонт и наладку пылегазоочистного
            оборудования (электрофильтры, рукавные фильтры, циклоны, скрубберы и пр.), поставляем
            запасные части для ремонта, принимаем участие в решении вопросов модернизации и замены
            оборудования, предлагаем новые технические решения по повышению эффективности
            пылегазоочистных установок.
        </p>
        <br>
        <p class="about__description text-indent">Мы также предлагаем:</p>
        <ul>
            <li>высококачественное и недорогое оборудование для пневмотранспорта;
            </li>
            <li>системы для эффективного сжигания топлива и диагностики процессов горения;
            </li>
            <li>электротехническая продукция и автоматизация;
            </li>
            <li>электроизоляционные и стойкие к агрессивным средам изделия.
            </li>
        </ul>
    </div>

    <div class="about__items">
        <div class="about__item">
            <img src="/img/main/about/icon_choice_90x90.png" alt="Variety of equipment" width="90" height="90"
                 class="about__item-img">
            <p class="about__item-description">
                Широкий выбор оборудования
            </p>
        </div>
        <div class="about__item">
            <img src="/img/main/about/icon_years_90x90.png" alt="20 years of successful work" width="90" height="90"
                 class="about__item-img">
            <p class="about__item-description">
                Успешной работы на рынке
            </p>
        </div>
        <div class="about__item">
            <img src="/img/main/about/icon_sectors_90x90.png" alt="Different work sectors" width="90" height="90"
                 class="about__item-img">
            <p class="about__item-description">
                Эффективные технические решения
            </p>
        </div>
        <div class="about__item">
            <img src="/img/main/about/icon_cert_90x90.png" alt="A lot of certificates" width="90" height="90"
                 class="about__item-img">
            <p class="about__item-description">
                Разрешения и патенты
            </p>
        </div>
    </div>
</section>