<section class="about">
    <h1 class="about__title">
        О нас
    </h1>

    <p class="about__description">
        Равным образом консультация с широким активом представляет собой интересный эксперимент проверки направлений прогрессивного развития.
        Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации модели развития.
        <br>
        <br>
        Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации модели развития.
        Равным образом консультация с широким активом представляет собой интересный эксперимент проверки направлений прогрессивного развития. Значимость этих проблем настолько очевидна, что реализация
    </p>

    <div class="about__items">
        <div class="about__item">
            <!--TODO: Оборудование на Английском в alt-->
            <img src="/img/main/about/icon_choice.png" alt="Variety of " width="91" height="91" class="about__item-img">
            <p class="about__item-description">
                Широкий выбор оборудования
            </p>
        </div>
        <div class="about__item">
            <img src="/img/main/about/icon_years.png" alt="20 years of success work" width="90" height="90" class="about__item-img">
            <p class="about__item-description">
                Успешной работы на рынке
            </p>
        </div>
        <div class="about__item">
            <img src="/img/main/about/icon_sectors.png" alt="Different work sectors" width="90" height="90" class="about__item-img">
            <p class="about__item-description">
                Что-то про сферы производства
            </p>
        </div>
        <div class="about__item">
            <img src="/img/main/about/icon_cert.png" alt="A lot of certificates" width="90" height="90" class="about__item-img">
            <p class="about__item-description">
                Наличие сертификатов и разрешений
            </p>
        </div>
    </div>
</section>