<section class="cert">
    <h2 class="cert__title">
        Разрешения и патенты
    </h2>

    <div class="cert__carousel">
        <!-- MOBILE -->
        <div class="owl-carousel owl-theme cert__owl-carousel-mobile hidden-on-desktop">
            <div class="cert__item-wrapper">
                <img class="cert__item" src="img/main/cert/cert_img_720x999.jpg" alt="document preview">
            </div>
            <div class="cert__item-wrapper">
                <img class="cert__item" src="img/main/cert/cert_img_720x999.jpg" alt="document preview">
            </div>
            <div class="cert__item-wrapper">
                <img class="cert__item" src="img/main/cert/cert_img_720x999.jpg" alt="document preview">
            </div>
            <div class="cert__item-wrapper">
                <img class="cert__item" src="img/main/cert/cert_img_720x999.jpg" alt="document preview">
            </div>
        </div>

        <!-- DESKTOP -->
        <div class="owl-carousel owl-theme cert__owl-carousel-desktop hidden-on-mobile">
            <div class="cert__item-wrapper">
                <img class="cert__item" src="img/main/cert/cert_img_720x999.jpg" alt="document preview">
            </div>
            <div class="cert__item-wrapper">
                <img class="cert__item" src="img/main/cert/cert_img_720x999.jpg" alt="document preview">
            </div>
            <div class="cert__item-wrapper">
                <img class="cert__item" src="img/main/cert/cert_img_720x999.jpg" alt="document preview">
            </div>
            <div class="cert__item-wrapper">
                <img class="cert__item" src="img/main/cert/cert_img_720x999.jpg" alt="document preview">
            </div>
        </div>


        <div class="cert__carousel-prev"><i class="fas fa-angle-left"></i></div>
        <div class="cert__carousel-next"><i class="fas fa-angle-right"></i></div>
    </div>

</section>