<section class="cert">
    <h2 class="cert__title">
        Патенты и разрешения
    </h2>

    <div class="cert__carousel">
        <div class="owl-carousel owl-theme">
            <div class="cert__item-wrapper">
                <img class="cert__item" src="img/main/cert/cert_img_720x999.jpg" alt="document preview">
            </div>
            <div class="cert__item-wrapper">
                <img class="cert__item" src="img/main/cert/cert_img_720x999.jpg" alt="document preview">
            </div>
            <div class="cert__item-wrapper">
                <img class="cert__item" src="img/main/cert/cert_img_720x999.jpg" alt="document preview">
            </div>
            <div class="cert__item-wrapper">
                <img class="cert__item" src="img/main/cert/cert_img_720x999.jpg" alt="document preview">
            </div>

        </div>

        <div class="cert__carousel-prev"><i class="fas fa-angle-left"></i></div>
        <div class="cert__carousel-next"><i class="fas fa-angle-right"></i></div>
    </div>

</section>