<section class="cert">
    <h2 class="cert__title">
        Разрешения и патенты
    </h2>

    <div class="cert__carousel">
        <div class="owl-carousel owl-theme cert__owl-carousel">
            <div class="cert__item-wrapper">
                <a data-fancybox="gallery" href="doc/dozvil.pdf">
                    <img class="cert__item" src="img/main/cert/dozvil.jpg" alt="document preview">
                </a>
            </div>
            <div class="cert__item-wrapper">
                <a data-fancybox="gallery" href="doc/license.pdf">
                    <img class="cert__item" src="img/main/cert/license.jpg" alt="document preview">
                </a>
            </div>
            <div class="cert__item-wrapper">
                <a data-fancybox="gallery" href="doc/ISO9001-2001.pdf">
                    <img class="cert__item" src="img/main/cert/ISO9001-2001.jpg" alt="document preview">
                </a>
            </div>
            <div class="cert__item-wrapper">
                <a data-fancybox="gallery" href="doc/ISO14001-97.pdf">
                    <img class="cert__item" src="img/main/cert/ISO14001-97.jpg" alt="document preview">
                </a>
            </div>
            <div class="cert__item-wrapper">
                <a data-fancybox="gallery" href="doc/patents/patent_97481.pdf">
                    <img class="cert__item" src="img/main/cert/patents/patent_97481.jpg" alt="document preview">
                </a>
            </div>
            <div class="cert__item-wrapper">
                <a data-fancybox="gallery" href="doc/patents/patent_97490.pdf">
                    <img class="cert__item" src="img/main/cert/patents/patent_97490.jpg" alt="document preview">
                </a>
            </div>
            <div class="cert__item-wrapper">
                <a data-fancybox="gallery" href="doc/patents/patent_97491.pdf">
                    <img class="cert__item" src="img/main/cert/patents/patent_97491.jpg" alt="document preview">
                </a>
            </div>
            <div class="cert__item-wrapper">
                <a data-fancybox="gallery" href="doc/patents/patent_97650.pdf">
                    <img class="cert__item" src="img/main/cert/patents/patent_97650.jpg" alt="document preview">
                </a>
            </div>
            <div class="cert__item-wrapper">
                <a data-fancybox="gallery" href="doc/patents/patent_97959.pdf">
                    <img class="cert__item" src="img/main/cert/patents/patent_97959.jpg" alt="document preview">
                </a>
            </div>
            <div class="cert__item-wrapper">
                <a data-fancybox="gallery" href="doc/patents/patent_98771.pdf">
                    <img class="cert__item" src="img/main/cert/patents/patent_98771.jpg" alt="document preview">
                </a>
            </div>
        </div>

        <div class="cert__carousel-prev"><i class="fas fa-angle-left"></i></div>
        <div class="cert__carousel-next"><i class="fas fa-angle-right"></i></div>
    </div>

</section>