<section id="clients_main" class="clients">
    <h2 class="clients__title">
        Наши клиенты
    </h2>

    <div class="clients__list">
        <div class="clients__item-wrapper">
            <img src="img/clients/heidelberg.jpg" class="clients__item-img" alt="client">
            <h3 class="clients__item-title"><a href="https://www.heidelbergcement.ua/uk" target="_blank">ПАО «ХайдельбергЦемент Украина»</a></h3>
            <p class="clients__item-details">
                г.Кривой Рог, ул.Акционерная, 1
            </p>
            <p class="clients__item-desc">
                Системы пылеулавливания. Рукавные фильтры: поставка, монтаж, наладка.
                Электрофильтры: поставка запчастей, монтаж, ремонт, наладка.
            </p>
        </div>
        <div class="clients__item-wrapper">
            <img src="img/clients/vetropak.jpg" class="clients__item-img" alt="client">
            <h3 class="clients__item-title"><a href="https://www.vetropack.ua/ru/" target="_blank">ОАО «Ветропак» Гостомельский стеклозавод»</a></h3>
            <p class="clients__item-details">
                Киевская обл., пгт. Гостомель, ул.Рекунова, 2
            </p>
            <p class="clients__item-desc">
                Системы пневмотранспорта, системы пылеулавливания.
            </p>
        </div>
        <div class="clients__item-wrapper">
            <img src="img/clients/dtek.jpg" class="clients__item-img" alt="client">
            <h3 class="clients__item-title"><a href="http://www.donetskoblenergo.dn.ua/" target="_blank">ПАО «ДТЭК»</a></h3>
            <p class="clients__item-details">
                Ладыжинская ТЭС, Кураховская ТЭС, Луганская ТЭС, Приднепровская ТЭС, Криворожская ТЭС, ПУ «Павлоградуголь», ООО «ПРМЗ»
            </p>
            <p class="clients__item-desc">
                Для электрофильтров пылеулавливания - системы ИПН, системы управления агрегатами питания и встряхиванием, система контроля мех.недожога, запасные части.
            </p>
        </div>
    </div>

    <div class="clients__button">
        <a href="/clients.html" class="button">
            Полный список
        </a>
    </div>
</section>