<section class="clients">
    <h2 class="clients__title">
        Клиенты
    </h2>

    <div class="clients__two-column">
        <img src="img/main/clients/clients_1.png" alt="">
        <img src="img/main/clients/clients_2.png" alt="">
    </div>
    <div class="clients__one-column">
        <img src="img/main/clients/clients_3.png" alt="">
    </div>
    <div class="clients__two-column">
        <img src="img/main/clients/clients_1.png" alt="">
        <img src="img/main/clients/clients_2.png" alt="">
    </div>
    <div class="clients__one-column">
        <img src="img/main/clients/clients_3.png" alt="">
    </div>
    <div class="clients__two-column">
        <img src="img/main/clients/clients_1.png" alt="">
        <img src="img/main/clients/clients_2.png" alt="">
    </div>
    <div class="clients__one-column">
        <img src="img/main/clients/clients_3.png" alt="">
    </div>
</section>