<section class="clients">
    <h2 class="clients__title">
        Наши клиенты
    </h2>

    <div class="clients__items">
        <div class="clients__item">
            <img src="img/main/clients/clients1_103x50.png" alt="">
        </div>
        <div class="clients__item">
            <img src="img/main/clients/clients2_117x35.png" alt="">
        </div>
        <div class="clients__item">
            <img src="img/main/clients/clients3_130x33.png" alt="">
        </div>
    </div>


    <div class="clients__items">
        <div class="clients__item">
            <img src="img/main/clients/clients1_103x50.png" alt="">
        </div>
        <div class="clients__item">
            <img src="img/main/clients/clients2_117x35.png" alt="">
        </div>
        <div class="clients__item">
            <img src="img/main/clients/clients3_130x33.png" alt="">
        </div>
    </div>


    <div class="clients__items">
        <div class="clients__item">
            <img src="img/main/clients/clients1_103x50.png" alt="">
        </div>
        <div class="clients__item">
            <img src="img/main/clients/clients2_117x35.png" alt="">
        </div>
        <div class="clients__item">
            <img src="img/main/clients/clients3_130x33.png" alt="">
        </div>
    </div>
</section>