<section id="contacts" class="contacts">
    <h2 class="contacts__title">
        Контакты
    </h2>
    <div class="contacts__wrapper">
        <iframe class="contacts__map"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2646.8068961011254!2d35.01791091510745!3d48.441045837955656!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dbe3409331308d%3A0x84446cc8bfbc3e78!2sVulytsya+Leonida+Stromtsova%2C+3%2C+Dnipropetrovs&#39;k%2C+Dnipropetrovsk+Oblast%2C+49000!5e0!3m2!1sen!2sua!4v1531693540015"
                frameborder="0" style="border:0" allowfullscreen></iframe>
        <div class="contacts__data-wrapper">
            <p class="contacts__name"><b>ООО Промтех</b></p>
            <ul class="contacts__data">
                <li><i class="fas fa-map-marker-alt contacts__icon-map"></i>ул. Вакуленчука 3а, оф. 615</li>
                <li><i class="fas fa-fax contacts__icon-fax"></i>факс: (0562) 36 96 25</li>
                <li><i class="fas fa-mobile-alt contacts__icon-mob"></i>моб: (067) 762 23 38</li>
                <li><i class="fas fa-envelope contacts__icon-mail"></i>email: promtex@ua.fm</li>
            </ul>
        </div>
    </div>
</section>