<section class="examples">
    <h2 class="examples__title">
        Примеры работ
    </h2>
    <div class="examples__list">
        <div class="examples__item-wrapper">
            <div class="examples__item-img-wrapper">
                <img src="img/main/examples/examples_img.png" class="examples__item-img" alt="example img">
                <div class="examples__item-description">
                    Равным образом консультация с широким активом, 2013
                </div>
            </div>
            <p class="examples__item-text">
                <b>Описание:</b> Равным образом консультация с широким активом представляет собой интересный эксперимент
                проверки направлений прогрессивного развития.
            </p>
        </div>
        <div class="examples__item-wrapper">
            <div class="examples__item-img-wrapper">
                <img src="img/main/examples/examples_img.png" class="examples__item-img" alt="example img">
                <div class="examples__item-description">
                    Равным образом консультация с широким активом, 2013
                </div>
            </div>
            <p class="examples__item-text">
                <b>Описание:</b> Равным образом консультация с широким активом представляет собой интересный эксперимент
                проверки направлений прогрессивного развития.
            </p>
        </div>
        <div class="examples__item-wrapper">
            <div class="examples__item-img-wrapper">
                <img src="img/main/examples/examples_img.png" class="examples__item-img" alt="example img">
                <div class="examples__item-description">
                    Равным образом консультация с широким активом, 2013
                </div>
            </div>
            <p class="examples__item-text">
                <b>Описание:</b> Равным образом консультация с широким активом представляет собой интересный эксперимент
                проверки направлений прогрессивного развития.
            </p>
        </div>
    </div>
    <button type="button" class="examples__button">
        Наши клиенты
    </button>
</section>