<header class="header">

    @@include('../nav.html')

    <div class="header__title-wrapper">
        <div class="container">
            <h1 class="header__title">Экологическое<br class="visible-on-mobile"> промышленное <br class="visible-on-mobile">оборудование</h1>
            <p class="header__description hidden-on-mobile">Мы решим экологические вопросы вашего предприятия</p>
            <img class="header__schema" width="293" height="288" src="/img/main/about/main_schema.png"
                 alt="work_schema">
        </div>
    </div>
</header>