<header class="header">

    @@include('../nav.html')

    <div class="header__title-wrapper ">
        <div class="header__title-wrapper-container">
            <h1 class="header__title">Экологическое<br class="visible-on-mobile"> промышленное <br class="visible-on-mobile">оборудование</h1>
            <p class="header__description hidden-on-mobile">Мы решим экологические вопросы вашего предприятия</p>
            <picture>
                <source media="(min-width: 768px)" srcset="/img/main/about/work_schema_519x140.png">
                <img class="header__schema" src="/img/main/about/work_schema_293x288.png"
                     alt="work_schema">
            </picture>
        </div>
    </div>
</header>