<header class="header">

    @@include('../nav.html')

    <div class="header__header-wrapper">
        <div class="header__title-wrapper-container">
            <div class="header__title-wrapper">
                <h1 class="header__title">Экологическое<br class="visible-on-mobile"> промышленное <br
                        class="visible-on-mobile">оборудование</h1>
                <p class="header__description hidden-on-mobile">Мы решим экологические вопросы вашего предприятия</p>
            </div>
        </div>
        <picture>
            <source media="(min-width: 768px)" srcset="/img/main/about/work_schema_613x140.png">
            <img class="header__schema" src="/img/main/about/work_schema_277x370.png"
                 alt="work_schema">
        </picture>
    </div>
</header>