<section class="products">
    <h1 class="products__title">Продукция</h1>

    <div class="products__carousel">
        <!-- MOBILE -->
        <div class="owl-carousel owl-theme products__owl-carousel-mobile hidden-on-desktop">
            <div class="item">
                <div class="products__item-wrapper">
                    <img src="img/main/products/rukavnie-filtry-industrialnie.jpg" alt="Рукавные фильтры">
                    <div class="products__item-body">
                        Рукавные фильтры
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="products__item-wrapper">
                    <img src="img/main/products/venturi-skrubber.jpg" alt="Скрубберы с Вентури">
                    <div class="products__item-body">
                        Скрубберы с Вентури
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="products__item-wrapper">
                    <img src="img/main/products/aktif_karbon.jpg" alt="Угольные фильтры">
                    <div class="products__item-body">
                        Угольные фильтры
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="products__item-wrapper">
                    <img src="img/main/products/sistemy-pnevmotransporta.jpg" alt="Пневмотранспортные системы">
                    <div class="products__item-body">
                        Пневмотранспортные системы
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="products__item-wrapper">
                    <img src="img/main/products/ARV-8.jpg" alt="Электрофильтры">
                    <div class="products__item-body">
                        Электрофильтры
                    </div>
                </div>
            </div>
        </div>
        <div class="products__button hidden-on-desktop">
            <a href="/products.html" class="button">
                Перейти к каталогу
            </a>
        </div>

        <!-- DESKTOP -->
        <div class="products__owl-carousel-desktop owl-carousel owl-theme hidden-on-mobile">
            <div class="item">
                <div class="products__item-wrapper">
                    <img src="img/main/products/rukavnie-filtry-industrialnie.jpg"
                         alt="Рукавные фильтры">
                    <div class="products__item-body">
                        <h2 class="products__item-body-title">Рукавные фильтры</h2>
                        <p class="products__item-body-desc">Фильтры MDSJ – это пылеуловители, которые очищаются
                            импульсами сжатого воздуха. Эффективность и производительность такой фильтрации очень
                            высока.
                            <br><br>
                            Благодаря высокой скорости фильтрации, один квадратный метр поверхности фильтра способен
                            очищать до 300 м3 запыленного воздуха. В очищенном воздухе концентрация остаточной пыли
                            сводится к нескольким миллиграммам на один кубический метр.
                        </p>
                        <div class="products__link-wrapper hidden-on-mobile visible-on-desktop">
                            <a class="button" href="/products.html">Перейти к каталогу</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="products__item-wrapper">
                    <img src="img/main/products/venturi-skrubber.jpg" alt="Скрубберы с Вентури">
                    <div class="products__item-body">
                        <h2 class="products__item-body-title">Скрубберы с Вентури</h2>
                        <p class="products__item-body-desc">Скрубберы Вентури используются для удаления всех видов
                            мелкодисперсных пылевых частиц, иногда для удаления водорастворимых газов.
                            <br><br>
                            Хотя дизайн очень прост, такие параметры, как скорости газа и
                            жидкости, соотношения смешивания газа и жидкости, температура, размер частиц,
                            концентрация на входе, плотность частиц, делают метод проектирования весьма сложным.
                        </p>
                        <div class="products__link-wrapper hidden-on-mobile visible-on-desktop">
                            <a class="button" href="/products.html">Перейти к каталогу</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="item">
                <div class="products__item-wrapper">
                    <img src="img/main/products/aktif_karbon.jpg" alt="Угольные фильтры">
                    <div class="products__item-body">
                        <h2 class="products__item-body-title">Угольные фильтры</h2>
                        <p class="products__item-body-desc">Активный угольный сухой
                            абсорбент компании MDSJ-proses является высокоэффективным при удалении адсорбирующих
                            паров, H2S и других запахов, ЛОС (летучие органические соединения) и газофазных
                            углеводородов, диоксинов-фуранов.
                            <br><br>
                            В компании MDSJ-proses используются регенеративные, или не
                            регенеративные с наполнителем, либо картриджем из активированного угля Уловители
                            запахов.
                        </p>
                        <div class="products__link-wrapper hidden-on-mobile visible-on-desktop">
                            <a class="button" href="/products.html">Перейти к каталогу</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="item">
                <div class="products__item-wrapper">
                    <img src="img/main/products/sistemy-pnevmotransporta.jpg" alt="Пневмотранспортные системы">
                    <div class="products__item-body">
                        <h2 class="products__item-body-title">Пневмотранспортные системы</h2>
                        <p class="products__item-body-desc">Пневмотранспортный аппарат обеспечивает перемещение
                            подходящих
                            сыпучих и гранулированных веществ по трубопроводу посредством потока воздуха, в
                            вертикальном, горизонтальном и наклонном направлении.
                            <br><br>
                            Пневматические системы используются в различных производственных
                            процессах, строительстве, при выгрузке вагонов и силосов.
                        </p>
                        <div class="products__link-wrapper hidden-on-mobile visible-on-desktop">
                            <a class="button" href="/products.html">Перейти к каталогу</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="item">
                <div class="products__item-wrapper">
                    <img src="img/main/products/ARV-8.jpg" alt="Электрофильтры">
                    <div class="products__item-body">
                        <h2 class="products__item-body-title">Электрофильтры</h2>
                        <p class="products__item-body-desc">Мы выполним обследование, разработаем технические решения и
                            подберем
                            эффективное и недорогое оборудование, предложим решения по модернизации, замене, ремонту
                            действующего экологического оборудования.
                            <br><br>
                            Также предлагаем запчасти к электрофильтрам: автоматический регулятор встряхивания,
                            вал-изолятор, резистор согласующий типа РСФ.
                        </p>
                        <div class="products__link-wrapper hidden-on-mobile visible-on-desktop">
                            <a class="button" href="/products.html">Перейти к каталогу</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="products__carousel-prev"><i class="fas fa-angle-left"></i></div>
        <div class="products__carousel-next"><i class="fas fa-angle-right"></i></div>
    </div>
</section>