<section class="products">
    <h1 class="products__title">Продукция</h1>

    <div class="products__carousel">
        <!-- MOBILE -->
        <div class="owl-carousel owl-theme products__owl-carousel-mobile hidden-on-desktop">
            <div class="item">
                <div class="products__item-wrapper">
                    <img src="img/main/products/products_img_260x325.jpg" alt="Product image">
                    <div class="products__item-body">
                        Угольные фильтры
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="products__item-wrapper">
                    <img src="img/main/products/products_img_260x325.jpg" alt="Product image">
                    <div class="products__item-body">
                        Угольные фильтры
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="products__item-wrapper">
                    <img src="img/main/products/products_img_260x325.jpg" alt="Product image">
                    <div class="products__item-body">
                        Угольные фильтры
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="products__item-wrapper">
                    <img src="img/main/products/products_img_260x325.jpg" alt="Product image">
                    <div class="products__item-body">
                        Угольные фильтры
                    </div>
                </div>
            </div>
        </div>

        <!-- DESKTOP -->
        <div class="products__owl-carousel-desktop owl-carousel owl-theme hidden-on-mobile">
            <div class="item">
                <div class="products__item-wrapper">
                    <img src="img/main/products/products_img_260x325.jpg" width="260" height="325" alt="Product image">
                    <div class="products__item-body">
                        <h2 class="products__item-body-title">Угольные фильтры</h2>
                        <p class="products__item-body-desc">Равным образом консультация с широким
                            активом
                            представляет собой интересный эксперимент проверки направлений прогрессивного развития. </p>
                        <br>
                        <p class="products__item-body-desc">Значимость этих проблем настолько очевидна,
                            что реализация намеченных плановых заданий влечет за собой процесс внедрения.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="products__item-wrapper">
                    <img src="img/main/products/products_img_260x325.jpg" width="260" height="325" alt="Product image">
                    <div class="products__item-body">
                        <h2 class="products__item-body-title">Угольные фильтры</h2>
                        <p class="products__item-body-desc">Равным образом консультация с широким
                            активом
                            представляет собой интересный эксперимент проверки направлений прогрессивного развития. </p>
                        <br>
                        <p class="products__item-body-desc">Значимость этих проблем настолько очевидна,
                            что реализация намеченных плановых заданий влечет за собой процесс внедрения.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="products__carousel-prev"><i class="fas fa-angle-left"></i></div>
        <div class="products__carousel-next"><i class="fas fa-angle-right"></i></div>
    </div>
</section>