<section class="sectors">
    <h2 class="sectors__title">
        Секторы
    </h2>
    <div class="sectors__sector-list">

        <div class="sectors__sector-item sectors__sector-item--closed">
            <div class="sectors__sector-title">
                Название производства
            </div>
            <div class="sectors__sector-body">
                <div class="sectors__sector-text">
                    <p class="text-indent">Рssssным образом консультация с широким активом представляет собой интересный эксперимент проверки
                        направлений прогрессивного развития. Значимость этих проблем настолько очевидна. </p>
                    <br>
                    <p class="text-indent">Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий влечет за
                        собой процесс внедрения и модернизации модели развития. Равным о проверки направлений
                        прогрессивного
                        развития. </p>
                </div>
                <img src="/img/main/sectors/sectors_img_768x513.jpg" alt="sector image" class="sectors__sector-image">
            </div>
        </div>

        <div class="sectors__sector-item sectors__sector-item--closed">
            <div class="sectors__sector-title">
                Название производства
            </div>
            <div class="sectors__sector-body">
                <div class="sectors__sector-text">
                    <p class="text-indent">Равнxxxxxxзом консультация с широким активом представляет собой интересный эксперимент проверки
                        направлений прогрессивного развития. Значимость этих проблем настолько очевидна. </p>
                    <br>
                    <p class="text-indent">Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий влечет за
                        собой процесс внедрения и модернизации модели развития. Равным о проверки направлений
                        прогрессивного
                        развития. </p>
                </div>
                <img src="/img/main/sectors/sectors_img_768x513.jpg" alt="sector image" class="sectors__sector-image">
            </div>
        </div>

        <div class="sectors__sector-item">
            <div class="sectors__sector-title">
                Название производства
            </div>
            <div class="sectors__sector-body">
                <div class="sectors__sector-text">
                    <p class="text-indent">Равным образом консультация с широким активом представляет собой интересный эксперимент проверки
                        направлений прогрессивного развития. Значимость этих проблем настолько очевидна. </p>
                    <br>
                    <p class="text-indent">Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий влечет за
                        собой процесс внедрения и модернизации модели развития. Равным о проверки направлений
                        прогрессивного
                        развития. </p>
                </div>
                <img src="/img/main/sectors/sectors_img_768x513.jpg" alt="sector image" class="sectors__sector-image">
            </div>
        </div>

        <div class="sectors__sector-item sectors__sector-item--closed">
            <div class="sectors__sector-title">
                Название производства
            </div>
            <div class="sectors__sector-body">
                <div class="sectors__sector-text">
                    <p class="text-indent">Равным образом консультация с широким активом представляет собой интересный эксперимент проверки
                        направлений прогрессивного развития. Значимость этих проблем настолько очевидна. </p>
                    <br>
                    <p class="text-indent">Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий влечет за
                        собой процесс внедрения и модернизации модели развития. Равным о проверки направлений
                        прогрессивного
                        развития. </p>
                </div>
                <img src="/img/main/sectors/sectors_img_768x513.jpg" alt="sector image" class="sectors__sector-image">
            </div>
        </div>

        <div class="sectors__sector-item sectors__sector-item--closed">
            <div class="sectors__sector-title">
                Название производства
            </div>
            <div class="sectors__sector-body">
                <div class="sectors__sector-text">
                    <p class="text-indent">Равным образом консультация с широким активом представляет собой интересный эксперимент проверки
                        направлений прогрессивного развития. Значимость этих проблем настолько очевидна. </p>
                    <br>
                    <p class="text-indent">Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий влечет за
                        собой процесс внедрения и модернизации модели развития. Равным о проверки направлений
                        прогрессивного
                        развития. </p>
                </div>
                <img src="/img/main/sectors/sectors_img_768x513.jpg" alt="sector image" class="sectors__sector-image">
            </div>
        </div>
        <div class="sectors__sector-item sectors__sector-item--closed">
            <div class="sectors__sector-title">
                Название производства
            </div>
            <div class="sectors__sector-body">
                <div class="sectors__sector-text">
                    <p class="text-indent">Равным образом консультация с широким активом представляет собой интересный эксперимент проверки
                        направлений прогрессивного развития. Значимость этих проблем настолько очевидна. </p>
                    <br>
                    <p class="text-indent">Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий влечет за
                        собой процесс внедрения и модернизации модели развития. Равным о проверки направлений
                        прогрессивного
                        развития. </p>
                </div>
                <img src="/img/main/sectors/sectors_img_768x513.jpg" alt="sector image" class="sectors__sector-image">
            </div>
        </div>

    </div>
</section>