<section class="sectors">
    <h2 class="sectors__title">
        Секторы
    </h2>
    <div class="sectors__sector-list">
        <div class="sectors__sector-item sectors__sector-item--closed">
            <div class="sectors__sector-title">
                Название производства
            </div>
            <div class="sectors__sector-body">
                <p>Равным образом консультация с широким активом представляет собой интересный эксперимент проверки
                    направлений прогрессивного развития. Значимость этих проблем настолько очевидна. </p>
                <br>
                <p>Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий влечет за
                    собой процесс внедрения и модернизации модели развития. Равным о проверки направлений прогрессивного
                    развития. </p>
                <img src="/img/main/sectors/mobile_sectors_img.jpg" alt="sector image" class="sectors__sector-image">
            </div>
        </div>
        <div class="sectors__sector-item sectors__sector-item--closed">
            <div class="sectors__sector-title">
                Название производства
            </div>
            <div class="sectors__sector-body">
                <p>Равным образом консультация с широким активом представляет собой интересный эксперимент проверки
                    направлений прогрессивного развития. Значимость этих проблем настолько очевидна. </p>
                <br>
                <p>Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий влечет за
                    собой процесс внедрения и модернизации модели развития. Равным о проверки направлений прогрессивного
                    развития. </p>
                <img src="/img/main/sectors/mobile_sectors_img.jpg" alt="sector image" class="sectors__sector-image">
            </div>
        </div>
        <div class="sectors__sector-item">
            <div class="sectors__sector-title">
                Название производства
            </div>
            <div class="sectors__sector-body">
                <p>Равным образом консультация с широким активом представляет собой интересный эксперимент проверки
                    направлений прогрессивного развития. Значимость этих проблем настолько очевидна. </p>
                <br>
                <p>Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий влечет за
                    собой процесс внедрения и модернизации модели развития. Равным о проверки направлений прогрессивного
                    развития. </p>
                <img src="/img/main/sectors/mobile_sectors_img.jpg" alt="sector image" class="sectors__sector-image">
            </div>
        </div>
        <div class="sectors__sector-item sectors__sector-item--closed">
            <div class="sectors__sector-title">
                Название производства
            </div>
            <div class="sectors__sector-body">
                <p>Равным образом консультация с широким активом представляет собой интересный эксперимент проверки
                    направлений прогрессивного развития. Значимость этих проблем настолько очевидна. </p>
                <br>
                <p>Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий влечет за
                    собой процесс внедрения и модернизации модели развития. Равным о проверки направлений прогрессивного
                    развития. </p>
                <img src="/img/main/sectors/mobile_sectors_img.jpg" alt="sector image" class="sectors__sector-image">
            </div>
        </div>
        <div class="sectors__sector-item sectors__sector-item--closed">
            <div class="sectors__sector-title">
                Название производства
            </div>
            <div class="sectors__sector-body">
                <p>Равным образом консультация с широким активом представляет собой интересный эксперимент проверки
                    направлений прогрессивного развития. Значимость этих проблем настолько очевидна. </p>
                <br>
                <p>Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий влечет за
                    собой процесс внедрения и модернизации модели развития. Равным о проверки направлений прогрессивного
                    развития. </p>
                <img src="/img/main/sectors/mobile_sectors_img.jpg" alt="sector image"  class="sectors__sector-image">
            </div>
        </div>
    </div>
</section>